.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.list-container {
  height: 100%;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  width: 175px;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgb(80, 80, 231);
  border: 5px solid cadetblue;
}
.card-img {
  width: 165px;
  height: 165px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.card-title {
  margin: 0;
  padding: 1px;
  font-size: 20px;
  color: white;
}
.card-description {
  margin: 0;
  padding-bottom: 5px;
  font-size: 15px;
  color: aliceblue;
}
.label {
  display: block;
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: rgb(172, 236, 22);
}
.input {
  margin-bottom: 16px;
  height: 25px;
  width: 290px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  border-color: rgb(172, 236, 22);
}
.link {
  text-decoration: none;
}

.imgnofound {
  width: 600px;
}
.no-results {
  font-size: 30px;
  font-weight: 600;
}
.card-img-detail {
  margin-top: 20px;
  border-radius: 10px;
  width: 50%;
}
.description {
  list-style: none;
  font-size: 22px;
}
.button-container .btn {
  width: 90px;
  height: 40px;
  margin: 20px;
  background-color: rgb(50, 182, 200);
  color: rgb(37, 37, 63);
  font-weight: 700;
  font-size: 18px;
  border: 2px solid rgb(179, 236, 21);
}
.detail-container {
  background-color: rgb(48, 146, 236);
  border: 5px solid rgb(179, 236, 21);
  display: block;
  margin: auto;
  width: 30%;
  height: 30%;
  border-radius: 15px;
  font-weight: 500;
}
.char-name {
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: underline;
}
