.list-container {
  height: 100%;
  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.no-results {
  font-size: 30px;
  font-weight: 600;
  &__img {
    @media all and (max-width: 768px) {
      width: 50%;
    }
  }
}
